.component {
  background: var(--colorDarkBlue);
  color: var(--colorWhite);
  width: 450px;
  height: 280px;
  border: 6px solid var(--colorGrey);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}

.big {
  width: 700px;
  height: 435px;
  border-width: 12px;
}

.chart {
  flex: 1 0 auto;
  width: 100%;
  height: 180px;
}
.chart > *:first-child {
  text-align: left;
  width: 100%;
  height: 100%;
}

.score {
  flex: 0 1 auto;
  font-size: 48px;
}
