.component {
  background: var(--colorDarkBlue);
  color: var(--colorWhite);
  border: 12px solid var(--colorGrey);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 2rem;
  width: 40vw;
  z-index: 2;
}
.component:after {
  content: " ";
  background: url("/images/blackboard-legs.svg");
  background-size: contain;
  width: 405px;
  height: 152px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 0;
  display: block;
}

.title {
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.chart {
  flex: 1 0 auto;
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}
.chart > *:first-child {
  text-align: left;
  width: 100%;
  height: 100%;
}

.result {
  display: flex;
  align-items: flex-end;
}
.result > * {
  flex: 1 1 auto;
}
.result span:first-child {
  font-size: 24px;
  text-align: left;
}
.result span:last-child {
  font-size: 42px;
  text-align: right;
}
