.component {
  border: 2px solid var(--colorPetrol);
  border-radius: 24px;
  padding: 1rem;
  text-align: left;

  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.withTransition {
  transition: all 0.1s ease-in-out;
}

.noTopRadius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.filled {
  background: var(--colorPetrol);
  color: var(--colorWhite);
}

.light {
  background: var(--colorWhite);
  color: var(--colorPetrol);
}

.criterion {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.criterionLabel {
  flex: 1 0 auto;
  margin-left: 8px;
}

.hidden {
  opacity: 0;
  transform: translateY(10%);
}

.transparent {
  background: transparent;
  border: none;
  color: var(--colorWhite);
}
