.component {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.dot {
  fill: var(--colorWhite);
  stroke: var(--colorDarkBlue);
  stroke-width: 1px;
}
.graph {
  fill: none;
  stroke: var(--colorWhite);
  stroke-width: 1px;
}
