.component {
  display: flex;
}

.targetAudience {
  flex: 1 0 auto;
  display: flex;
}

.stats {
  flex: 0 1 auto;
  min-width: 300px;
  margin: 2rem;
}

.animationCanvas {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
