.component {
  display: flex;
  background: url("/images/landscape.svg") bottom center;
  background-size: cover;
}

.targetAudience {
  position: relative;
  width: 100%;
  margin: 1rem;
}

.stats {
  flex: 0 1 auto;
  min-width: 300px;
  margin: 2rem;
}

.animationCanvas {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.blackboard {
  position: absolute;
  left: 50vw;
  bottom: 160px;
  transform: translateX(-50%);
}
