.component {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

.stage {
  flex: 1 0 auto;
}

.hudbar {
  flex: 0 1 auto;
}

.card {
  position: absolute;
  bottom: 50px;
  left: 20%;
}
