@import "./variables.css";

body {
  background-color: var(--colorWhite);
  color: var(--colorDarkBlue);
  font-family: var(--fontRegular);
  font-weight: var(--fontWeightRegular);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fontRegular);
  font-weight: var(--fontWeightMedium);
}

h1 {
  font-size: var(--fontSize6);
}
h2 {
  font-size: var(--fontSize5);
}
h3 {
  font-size: var(--fontSize4);
}
h4 {
  font-size: var(--fontSize3);
}

ul {
  margin: 0;
}

ul > li {
  height: inherit;
  line-height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

address {
  font-style: normal;
}
