@value bpMobile, bpTablet, bpDesktop, bpFullhd from "./breakpoints.css";

:root {
  --colorDarkBlue: #092138;
  --colorPetrol: #448f99;
  --colorWhite: #fcfcfc;
  --colorGrey: #a1a1a1;

  --fontRegular: "Sniglet", cursive;
  --fontBold: "Baloo", cursive;

  --bpMobile: bpMobile;
  --bpTablet: bpTablet;
  --bpDesktop: bpDesktop;
  --bpFullhd: bpFullhd;
}
