.component {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100vh;
}

.stage {
  flex: 1 0 auto;
}

.hudbar {
  flex: 0 1 auto;
}

.instructor {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.speechbubble {
  position: absolute;
  left: 400px;
  top: 50px;
  max-width: 600px;
}
